body {
    width: 90%;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
h2{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
    color:black;
}

/****************    couleurs  ***************/
/****************    Bleu : #0065FC   ***************/
/****************    Bleu clair : #DEEBFF ***************/
/****************    Gris : #F2F2F2  ***************/

/****************    Header   ***************/


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav figure img {
    width: 50%;
    display: block;
}

nav .nav-links {


    display: flex;
}

nav .nav-links a {
    
    font-weight: 500;
    text-decoration: none;
    color: black;
    width: 150px;
    text-align: center;
    line-height: 120px;
    position: relative;

}


nav a:hover {
    color: #0065FC;

}

nav div a:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #0065FC;
    height: 3px;
    display: block;
}

@media (max-width: 992px) {
    body{
        width:100%;
    }
    header nav {
        flex-direction: column;
    }

    nav figure img {
        margin: auto;
    }

    nav .nav-links {
        width: 100%;
        justify-content: space-around;
    }

    nav .nav-links a {
        line-height: 70px;
        width: 50%;
    }

    nav a:hover {
        color: black;
    }

    nav a:focus {
        color: #0065FC;
    }

    nav .nav-links a:hover::before {
        display: none;
    }

    nav div a:focus::after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #0065FC;
        height: 3px;
        display: block;
    }

    nav div a:not(:focus)::after {
        content: "";
        position: absolute;
        width: 100%;
        background-color: #F2F2F2;
        height: 3px;
        display: block;
    }
}


/****************  en-tête  ***************/

.entete{
    padding:0;
}

@media (max-width: 992px) {
.entete{
    padding: 20px;
}

}
/****************  Search  ***************/

form{
    border:2px solid red;
    width:40%;
    height:50px;
}
form input{
    
    border:none;
}
form button{
    background-color: unset;
    border:none;
}



/****************  Filters  ***************/

.filters-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 800;
    align-items: center;
    margin:30px 0;
    
    
}
.filters-container p{
    margin: 0;
    
}
.filters-container .filter{
    display: flex;
    border:2px solid #F2F2F2;
    border-radius: 9999px;
    height:50px;
    align-items: center;
    text-decoration: none;
    padding-right: 20px;
    color:black;
    
    
    
    
}
.filters-container .filter i{
    background-color: #DEEBFF;
    display: inline-block;
    width:50px;
    height:50px;
    border-radius: 99999px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-2px);
    margin-right: 20px;
    color:#0065FC;
    
    
   
}


/****************  Filters:hover  ***************/


.filters-container .filter:hover{
    flex-direction: row-reverse;
    padding-left: 20px;
    padding-right:0;
    transition: all .5s;
    
}
.filters-container .filter:not(hover){
    
    transition: all .5s;
    
}
.filters-container .filter:hover i{
    margin:0;
    padding:0;
    transform: translateX(2px);
    transition: all .5s;
}
.filters-container .filter:not(hover) i{
    
    transition: all .5s;
    
}

.infos i{
    color:#0065FC;
    border: 1px solid #c9c9c9;
    border-radius: 9999px;
    width:20px;
    height:20px;
    text-align: center;
    margin-right: 20px;
    
}


/****************  ALL CARDS  ***************/

.allcards{
    display:flex;
    flex-direction: row;
}
.populary-cards{
    width:10%;
    background-color: red;
}


/****************  Hébergements  ***************/

.hebergements-container{
    display: flex;
    gap:40px;
    margin-top: 30px;
}
.hebergements-container h2{
    margin-bottom: 20px;
}
.hebergements-container .show-more{
    font-weight: 800;
    
}


/****************  Hébergements à Marseille  ***************/


.marseille-container{
    background-color: #F2F2F2;
    width:66%;
    border-radius: 25px;
    padding: 20px;

}
.marseille-cards-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    margin-bottom: 20px;
}
.marseille-card{
    width:30%;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    -webkit-box-shadow: 7px 10px 26px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 26px -11px rgba(0,0,0,0.75);
box-shadow: 7px 10px 26px -11px rgba(0,0,0,0.75);
display: flex;
flex-direction: column;
justify-content: space-between;
}
.marseille-card img{
    height:140px;
    width:100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}
.marseille-card h3, p{
    margin:0;
    padding:7px;
}
.marseille-card .star-container{
    padding:7px;
    color:#0065FC;
    
}
.marseille-card:nth-child(1) .star-container i:nth-child(5){
    color:#d8d8d8;
}
.marseille-card:nth-child(3) .star-container i:nth-child(5){
    color:#d8d8d8;
}
.marseille-card:nth-child(4) .star-container i:nth-child(5){
    color:#d8d8d8;
}
.marseille-card:nth-child(4) .star-container i:nth-child(4){
    color:#d8d8d8;
}
.marseille-card:nth-child(5) .star-container i:nth-child(5){
    color:#d8d8d8;
}

/****************  Hébergements Les plus populaires  ***************/


.populary-container{
    background-color: #F2F2F2;
    border-radius: 25px;
    width:33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.populary-cards-container{
    width:90%;
    display: flex;
    flex-direction: column;
   row-gap: 20px;

}
.populary-card{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 5px solid white;
    border-radius: 25px;
    font-size: 13px;
    height:150px;
    -webkit-box-shadow: 7px 10px 26px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 26px -11px rgba(0,0,0,0.75);
box-shadow: 7px 10px 26px -11px rgba(0,0,0,0.75);

}
.populary-card img{
    width:40%;
    object-fit: cover;
    border-radius: 25px 0 0 25px;
}
.populary-text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.populary-card h3, p, .star-container{
    padding:10px;
    margin: 0;
}
.populary-card .star-container{
    flex-grow:1;
    padding:30px 0 0 10px;
    justify-self: flex-end;
    color:#0065FC;
}
.populary-card:nth-child(2) .star-container i:nth-child(5){
    color:#d8d8d8;
}
.populary-card:nth-child(3) .star-container i:nth-child(5){
    color:#d8d8d8;
}
@media (max-width: 992px) {
    .hebergements-container{
        flex-direction: column;
    }


/****************  Hébergements Les plus populaires 992px  ***************/


.hebergements-container .populary-container{
    order:1;
    width:100%;
    padding-bottom: 35px;
    background-color: #fff;
}
.populary-card {
    height:200px;
}
.populary-text-content{
    padding-left: 15px;
    justify-content: space-evenly;
}
.populary-container p{
    margin-bottom: 55px;
    padding-top: 0;
}
.populary-container h3{
    padding-bottom: 0;
}
.populary-card .star-container{
    flex-grow: unset;
    padding-top: 0;
}




/****************  Hébergements marseille 992px  ***************/


.hebergements-container .marseille-container{
    order:2;
    width:100%;
    background-color: #fff;
}
.marseille-cards-container{
    flex-direction: column;
    align-items: center;
}
.marseille-card{
    width:90%;
}
.marseille-card img{
    height:200px;
}
}